.card.card-profile.text-center
  %img.card-img-top{:src => "https://unsplash.it/340/160?image=354", :alt => ""}/
  .card-block
    %img.card-img-profile{:src => "https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140", :alt => ""}/
    %h4.card-title
      Nicola Pressi
      %small Front-end designer
    .card-links
      %a.fa.fa-dribbble{:href => "#"}
      %a.fa.fa-twitter{:href => "#"}
      %a.fa.fa-facebook{:href => "#"}
